# This file is a "template" of which environment variable need to be defined for
# your application. Copy all of this file to an .env file for development and
# create environment variables when deploying to production.

# APP
# ==============================================================================
APP_DISPLAY_ERROR_DETAILS=true
APP_LOG_ERRORS=true
APP_LOG_ERROR_DETAILS=true

# LOGGER
# ==============================================================================
LOG_NAME=app
LOG_LEVEL=DEBUG
LOG_MAX_FILES=30
LOG_FORMAT="[%datetime%] %level_name%: %message% %context% %extra%\n"
LOG_DATE_FORMAT="Y-m-d H:i:s"
